<h1>Burgers!</h1>

<h2>Burgers you can eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        <br>
        <div id="name">
        {{this.burger_name}}
        </div>

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button id="order" type="submit">Eat up!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you have eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        <br>
        <div id="name">
        {{this.burger_name}}
        </div>
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button id="order" type="submit">Order Again!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Eat the burger!</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Ordered or Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten!<br>
    <input type="radio" name="devoured" value="0"> Place Order
  </div>

  <button type="submit">Eat da Burger</button>
</form>
